<!DOCTYPE html>
<html>

<head>
    <title>
        Schedules - Nutrition
    </title>
    <link rel="stylesheet" href="second.css">
</head>

<body>
    <h1 class="head">
        HEALTHY DIET CHARTER | CONSULTATION
    </h1>
    <div class="imagehead">
        <div>
            <img class="imge"
                src="https://nutritious-food.s3.us-south.cloud-object-storage.appdomain.cloud/veggie-diet.jpg">
            <div class="box">
                <h1>
                    VEGGIE DIET ROUTIINE
                </h1>
            </div>
        </div>
        <div>
            <img class="imge"
                src="https://nutritious-food.s3.us-south.cloud-object-storage.appdomain.cloud/ketogenic-diet.jpg">
            <div class="box">
                <h1>
                    KETOGENIC dIET SPECIAL
                </h1>
            </div>
        </div>
        <div>
            <img class="imge"
                src="https://nutritious-food.s3.us-south.cloud-object-storage.appdomain.cloud/keto.jpg">
            <div class="box">
                <h1>
                    KETO - BEGGINERS
                </h1>
            </div>
        </div>
        <div>
            <img class="imge"
                src="https://nutritious-food.s3.us-south.cloud-object-storage.appdomain.cloud/mixed%20vitamin%20routine%20diet.jpg">
            <div class="box">
                <h1>
                    MIXED VITAMINE ROUTINE DIET
                </h1>
            </div>
        </div>
    </div>
</body>
</html>
