.tit
{
    text-align: center;
    border:1px solid black;
    padding: 15px;
    box-shadow: 3px 3px 3px black;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgba(0, 0, 0, 0.747);
    color: aqua;
}
.head
{
    text-align: center;
    border:1px solid black;
    padding: 15px;
    box-shadow: 3px 3px 3px black;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 5px;
    opacity: 0.8;
    background-color: white;
}
.cont
{
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 163px;
    padding: 15px;
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 3px 3px 3px black;
}
.image
{
    height: 200px;
    width: 200px;
    border:1px solid black;
    border-radius: 2px;
    transition: 1s;
    box-shadow: 2px 2px 2px black;
}
.image:hover
{
    transform: translateY(-14px);
}
.positions_img
{
    margin: 3px;
    text-align: center;
}
body
{
    background-image: url('https://ibm-storage-wilson.s3.us-east.cloud-object-storage.appdomain.cloud/photo2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}